# https://www.coder.work/article/1530032

# Ignore everything in repository root
*/.ipynb_checkpoints/
__pycache__/

test/
/2021-09-02
/2021-09-03
/2021-09-11
/2021-09-13
/2021-09-14
/2021-09-15
/2021-09-16
/2021-09-24
/2021-09-27
/2021-09-28
/2021-09-29

# Ignoring files by extension
# All files with these extensions will be ignored in
# this directory and all its sub-directories.
*.pkl
*.bed
*.tsv
*.csv
*.fast5

# Files to not ignore
!/.gitignore
